*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app{
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container{
  text-align: center;
  background-color: rgb(38, 35, 75);
  border-radius: 500px;
  padding: 20px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 12px 10px 0px rgb(0 0 0 / 50%);
  border: 3px solid #0f0d05;
}

.quote-container p {
  font-size: 2.5rem;
  font-style: italic;
  margin-bottom: 20px;
}

.quote-container button{
  padding: 15px;
  cursor: pointer;
  width: 200px;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(22, 170, 22, 0.5);
  transition: all 200ms ease-in;
}

.quote-container button:hover{
  background-color: #a622b8;
  color: rgb(2, 97, 121);
}

/* Adjust font size for smaller screens */
@media (max-width: 480px) {
  .quote-container p {
    font-size: calc(2.5rem - 0.2vw); /* Adjust the calculation as needed */
  }
}